.logo {
    background-image: url(avatar_1557.png);
  background-size:contain;
  background-repeat: no-repeat;
  width: 100px; /* set desired width */
  height: 100px; /* set desired height */
  position: absolute;
  top: 10px; /* set desired distance from top */
  left: 10px; /* set desired distance from left */
}

/*Table styling*/
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid #dfcece;
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
